/* menu and dialogue modifications */
:root {
    --panel-subview-body-padding-block: 0px !important;
    --panel-separator-margin-horizontal: 0px !important;
    --arrowpanel-menuitem-border-radius: 0px !important;
    --arrowpanel-menuitem-margin: 0px !important;
    --arrowpanel-border-radius: 0px !important; /* right-click menu */
    --menuitem-border-radius: 0px !important; /* right-click menu item */
    --arrow-panel-padding: 0px !important;
    --panel-padding: 0px !important;
    --panel-padding-block: 0px !important;
    --panel-border-radius: 0px !important;
    --panel-shadow-margin: 0px !important;
    --border-radius-small: 0px !important;
    --size-item-large: 14px !important;
    --focus-outline: none !important;
}


menupopup {
    color-scheme: dark !important;
    --panel-background: var(--arrowpanel-background) !important;
    --panel-color: var(--arrowpanel-color) !important;
    --menuitem-disabled-hover-background-color: var(--button-background-color-hover) !important;
}

.subviewbutton > image, /* empty space (icon lacuna) in menus */
box.panel-header, /* menu header */
#unified-extensions-view > toolbarseparator:nth-child(2), /* ext. menu line */
toolbarseparator, /* useless lines in menus */
#editBMPanel_tagsRow,
#editBookmarkPanelInfoArea,
#editBookmarkPanelBottomContent,
#editBookmarkHeaderSeparator,
#editBookmarkSeparator,
#editBMPanel_foldersExpander, /* extra bookmark edit menu button */
.unified-extensions-item-message-deck, /* "Can always read and change..." */
#editBookmarkPanelContent > label,
#context-take-screenshot,
#tabgroup-preview-panel,
spacer,
/* begin context menu stuff */
menuseparator,
#context-viewsource,
#context-inspect-a11y,
#context-take-screenshot
.unified-extensions-item-menu-button, /* ext. item right-side bloat */
#context-navigation,
#context-sep-navigation
/* end context menu stuff */
{ display: none !important; }

menuitem,
menu,
dialog,
button,
.footer-button,
#editBMPanel_namePicker, /* edit bookmark menu */
.editBMPanel_folderRow, /* edit bookmark location label */
#editBookmarkPanelContent, /* edit bookmark input box */
.unified-extensions-item-action-button,
#editBMPanel_folderMenuList
{ padding: 0px !important; }

menupopup, /* context menu */
panel, /* other menus */
button,
.panel-footer,
.footer-button,
description, /* e.g. text on a popup */
#unified-extensions-manage-extensions, /* addons/extension menu container */
unified-extensions-item /* ext. menu item */
{ margin: 0px !important; }

menuitem,
menu,
menupopup,
panel,
button,
#editBMPanel_folderMenuList,
.dialogBox /* e.g. "allow this site to open X link" */
{ border-radius: 0px !important; }

#editBMPanel_namePicker,
&::part(content) /* extension menu bloat element */
{ border: none !important; }

#editBookmarkPanelDoneButton { background-color: var(--button-background-color) !important; }
.footer-button > hbox { padding-right: 4px !important; } /* remove/save button spacing */
.unified-extensions-item { margin-block: 0px !important; } /* vertical margin */
menuitem, menu { height: 22px !important; } /* okay maybe not THAT compact */
description { padding: 8px 4px 0px !important; } /* less compact, easier to read */

.unified-extensions-item-action-button,
#editBMPanel_folderMenuList
{ padding-block: 0px !important; }

button {
    /* there aren't too many `button' elements so users are less used to pressing them */
    height: 26px !important;
    flex-grow: 1 !important; /* why not use space when given it? */
}
