 :root {
    --urlbar-min-height: 24px !important; /* default is 32px */
    --urlbar-margin-inline: 0px !important; /* prevent it from getting larger when focused */
    --urlbar-background-shadow: none !important;
    --urlbar-container-padding: -1px !important;
    --urlbar-container-border-width: 0px !important;
    --toolbarbutton-outer-padding: 0px !important; /* space beside most buttons */
    --toolbarbutton-inner-padding: 4px !important; /* padding around reload button */
    --toolbarbutton-border-radius: 0px !important; /* hover overlay corners */
    --border-radius-small: 0px !important;
    --border-radius-medium: 0px !important; /* e.g. the search-engine-selection button*/
    --border-width: 0px !important;
}

.toolbarbutton-badge-stack,
image.toolbarbutton-icon,
.urlbar-icon,
.urlbar-page-action,
.urlbar-input-container > box > box > image,
.urlbar-input-container > box > box > box  > image,
#tracking-protection-icon-box,
#trust-icon-container,
#unified-extensions-button > image:nth-child(1) { /* reload button */
    width: 24px !important;
    height: 24px !important;
}

.urlbar-go-button, /* `run this search' button */
.urlbar-visually-hidden, /* some `a' of indeterminate purpose in the urlbar */
.urlbarView, /* search completions */
#urlbar-searchmode-switcher,
#back-button,
#forward-button
{ display: none !important; }

.toolbarbutton-1,
.toolbarbutton-badge-stack, /* the padding should be on toolbar-button-icon  */
.urlbar-page-action,
.urlbar-input-container,
#trust-icon-container,
#identity-icon-box, /* search icon in search bar */
#PanelUI-menu-button
{ padding: 0px !important; }

toolbaritem, /* all sorts of buttons in the toolbar */
.urlbar-icon,
.urlbar-input-container > box > box > box  > image,
#identity-box,
#urlbar-container
{ margin: 0px !important; } /* align url box completely to the left */

.urlbar-input-container,
#nav-bar,
#navigator-toolbox,
#urlbar-background
{ border: none !important; }

.toolbarbutton-icon,
.urlbar-icon,
.urlbar-input-container > box > box > image,
.urlbar-input-container > box > box > box  > image,
#trust-icon
{ padding: 4px !important; }

toolbar#nav-bar, /* bar containing urlbar */
#urlbar { /* the uh yeah uh */
    max-height: 24px !important;
    min-height: 24px !important;
}

#trust-icon {
    min-width: 24px !important;
    min-height: 24px !important;
}

.urlbar-input-box { margin: 4px !important; }
#page-action-buttons { height: 24px !important; }
#unified-extensions-button > image:nth-child(1) { margin: auto !important; }
