:root {
    --tab-block-margin: 0px !important; /* space vertically molesting tabs */
    --tab-overflow-clip-margin: 0px !important; /* space horizontally harassing tabs */
    --tab-border-radius: 0px !important; /* heals a broken man */
    --tab-inline-padding: 0px !important; /* tab obesity */
    --tab-min-height: 24px !important; /* take a guess */
}

toolbarbutton#alltabs-button, /* remove tab list dropdown */
stack.tab-icon-stack, /* tab icons */
#tabbrowser-arrowscrollbox-periphery, /* new tab button */
.tab-close-button, /* close tab button */
toolbarbutton#scrollbutton-down, /* too many tab scroll button */
toolbarbutton#scrollbutton-up /* the above */
{ display: none !important; }

.tab-label-container { height: 24px !important; }
.tab-audio-button { margin-inline-end: 0px !important; } /* "mute tab" button */
.tab-text { padding-left: 4px !important; } /* tab label */
